<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>aa</string>
	<string>ab</string>
	<string>ae</string>
	<string>af</string>
	<string>ak</string>
	<string>am</string>
	<string>an</string>
	<string>ar</string>
	<string>ar-ae</string>
	<string>ar-bh</string>
	<string>ar-dz</string>
	<string>ar-eg</string>
	<string>ar-iq</string>
	<string>ar-jo</string>
	<string>ar-kw</string>
	<string>ar-lb</string>
	<string>ar-ly</string>
	<string>ar-ma</string>
	<string>ar-om</string>
	<string>ar-qa</string>
	<string>ar-sa</string>
	<string>ar-sy</string>
	<string>ar-tn</string>
	<string>ar-ye</string>
	<string>as</string>
	<string>ast</string>
	<string>av</string>
	<string>az</string>
	<string>ba</string>
	<string>be</string>
	<string>bg</string>
	<string>bh</string>
	<string>bi</string>
	<string>bm</string>
	<string>bn</string>
	<string>bo</string>
	<string>br</string>
	<string>bs</string>
	<string>ca</string>
	<string>ce</string>
	<string>ch</string>
	<string>co</string>
	<string>cr</string>
	<string>cs</string>
	<string>cu</string>
	<string>cv</string>
	<string>cy</string>
	<string>da</string>
	<string>de</string>
	<string>de-at</string>
	<string>de-ch</string>
	<string>de-de</string>
	<string>de-li</string>
	<string>de-lu</string>
	<string>dv</string>
	<string>dz</string>
	<string>ee</string>
	<string>el</string>
	<string>en</string>
	<string>en-au</string>
	<string>en-bz</string>
	<string>en-ca</string>
	<string>en-gb</string>
	<string>en-ie</string>
	<string>en-jm</string>
	<string>en-nz</string>
	<string>en-ph</string>
	<string>en-tt</string>
	<string>en-us</string>
	<string>en-za</string>
	<string>en-zw</string>
	<string>eo</string>
	<string>es</string>
	<string>es-ar</string>
	<string>es-bo</string>
	<string>es-cl</string>
	<string>es-co</string>
	<string>es-cr</string>
	<string>es-do</string>
	<string>es-ec</string>
	<string>es-es</string>
	<string>es-gt</string>
	<string>es-hn</string>
	<string>es-mx</string>
	<string>es-ni</string>
	<string>es-pa</string>
	<string>es-pe</string>
	<string>es-pr</string>
	<string>es-py</string>
	<string>es-sv</string>
	<string>es-uy</string>
	<string>es-ve</string>
	<string>et</string>
	<string>eu</string>
	<string>fa</string>
	<string>fa-ir</string>
	<string>ff</string>
	<string>fi</string>
	<string>fj</string>
	<string>fo</string>
	<string>fr</string>
	<string>fr-be</string>
	<string>fr-ca</string>
	<string>fr-ch</string>
	<string>fr-fr</string>
	<string>fr-lu</string>
	<string>fr-mc</string>
	<string>fur</string>
	<string>fy</string>
	<string>ga</string>
	<string>gd</string>
	<string>gl</string>
	<string>gn</string>
	<string>gu</string>
	<string>gv</string>
	<string>ha</string>
	<string>he</string>
	<string>hi</string>
	<string>ho</string>
	<string>hsb</string>
	<string>hr</string>
	<string>ht</string>
	<string>hu</string>
	<string>hy</string>
	<string>hz</string>
	<string>ia</string>
	<string>id</string>
	<string>ie</string>
	<string>ig</string>
	<string>ii</string>
	<string>ik</string>
	<string>io</string>
	<string>is</string>
	<string>it</string>
	<string>it-ch</string>
	<string>iu</string>
	<string>ja</string>
	<string>jv</string>
	<string>ka</string>
	<string>kg</string>
	<string>ki</string>
	<string>kk</string>
	<string>kl</string>
	<string>km</string>
	<string>kn</string>
	<string>ko</string>
	<string>ko-kp</string>
	<string>ko-kr</string>
	<string>kok</string>
	<string>kr</string>
	<string>ks</string>
	<string>ku</string>
	<string>kv</string>
	<string>kw</string>
	<string>ky</string>
	<string>la</string>
	<string>lb</string>
	<string>lg</string>
	<string>li</string>
	<string>ln</string>
	<string>lo</string>
	<string>lt</string>
	<string>lu</string>
	<string>lv</string>
	<string>mg</string>
	<string>mh</string>
	<string>mi</string>
	<string>mk</string>
	<string>mk-mk</string>
	<string>ml</string>
	<string>mn</string>
	<string>mo</string>
	<string>mr</string>
	<string>ms</string>
	<string>mt</string>
	<string>my</string>
	<string>na</string>
	<string>nb</string>
	<string>nd</string>
	<string>ne</string>
	<string>ng</string>
	<string>nl</string>
	<string>nl-be</string>
	<string>nn</string>
	<string>no</string>
	<string>nr</string>
	<string>nso</string>
	<string>nv</string>
	<string>ny</string>
	<string>oc</string>
	<string>oj</string>
	<string>om</string>
	<string>or</string>
	<string>os</string>
	<string>pa</string>
	<string>pa-in</string>
	<string>pa-pk</string>
	<string>pi</string>
	<string>pl</string>
	<string>ps</string>
	<string>pt</string>
	<string>pt-br</string>
	<string>qu</string>
	<string>rm</string>
	<string>rn</string>
	<string>ro</string>
	<string>ro-mo</string>
	<string>ru</string>
	<string>ru-mo</string>
	<string>sa</string>
	<string>sc</string>
	<string>sd</string>
	<string>sg</string>
	<string>si</string>
	<string>sk</string>
	<string>sl</string>
	<string>so</string>
	<string>sq</string>
	<string>sr</string>
	<string>ss</string>
	<string>st</string>
	<string>su</string>
	<string>sv</string>
	<string>sv-fi</string>
	<string>sv-se</string>
	<string>sw</string>
	<string>ta</string>
	<string>te</string>
	<string>tg</string>
	<string>th</string>
	<string>ti</string>
	<string>tig</string>
	<string>tk</string>
	<string>tl</string>
	<string>tlh</string>
	<string>tn</string>
	<string>to</string>
	<string>tr</string>
	<string>ts</string>
	<string>tt</string>
	<string>tw</string>
	<string>ty</string>
	<string>ug</string>
	<string>uk</string>
	<string>ur</string>
	<string>uz</string>
	<string>ve</string>
	<string>vi</string>
	<string>vo</string>
	<string>wa</string>
	<string>wo</string>
	<string>xh</string>
	<string>yi</string>
	<string>yo</string>
	<string>za</string>
	<string>zh</string>
	<string>zh-cn</string>
	<string>zh-hk</string>
	<string>zh-sg</string>
	<string>zh-tw</string>
	<string>zu</string>
</array>
</plist>